<md-card>
    <md-card-subtitle>ID: {{part.id}}</md-card-subtitle>
    <md-card-title>{{part.brief}}</md-card-title>
    <md-card-content>{{part.description}}</md-card-content>
    <md-card-content>Quantity: {{part.quantity}}</md-card-content>
    <a md-raised-button color="primary" href="/api/part/{{part.id}}/label">
        Download Label
    </a>

    <button md-raised-button color="warn" (click)="onEditPart()">Edit</button>
    <button md-raised-button color="warn" (click)="delete.emit(part.id)">Delete</button>
</md-card>
