
<mat-card *ngIf="part">
    <!-- <mat-toolbar>Basic</mat-toolbar> -->
    <mat-card-title> {{ isNewPart ? "Create Part" : "Edit Parts" }}</mat-card-title>
<form (ngSubmit)="onSubmit()" #partForm="ngForm">
    <mat-card-content>
        <mat-card-subtitle>{{ isNewPart ? "ID: TBD" : part.id }}</mat-card-subtitle>
            <table style="width: 100%" cellspacing="0">
                <tr><input matInput [(ngModel)]="part.brief" required name="brief" placeholder="Brief"></tr>
                <tr><input matInput [(ngModel)]="part.description" name="description" placeholder="Description"></tr>
            </table>
    </mat-card-content>
    <mat-card-actions>
        <button type="submit" mat-raised-button [disabled]="!partForm.form.valid">
            Save
        </button>
        <button mat-raised-button (click)="onCancel()" color=warn>
            Cancel
        </button>
    </mat-card-actions>
</form>
</mat-card>
